default:
    suites:
        default:
            contexts:
                - DatingLibre\AppBundle\Behat\UserContext
                - DatingLibre\AppBundle\Behat\AccountContext
                - DatingLibre\AppBundle\Behat\RegistrationContext
                - DatingLibre\AppBundle\Behat\ProfileContext
                - DatingLibre\AppBundle\Behat\ProfileImageContext
                - DatingLibre\AppBundle\Behat\SearchContext
                - DatingLibre\AppBundle\Behat\BlockContext
                - DatingLibre\AppBundle\Behat\ReportContext
                - DatingLibre\AppBundle\Behat\MessageContext
                - DatingLibre\AppBundle\Behat\ModerateContext
                - DatingLibre\AppBundle\Behat\ImageContext
                - DatingLibre\AppBundle\Behat\SubscriptionContext
                - DatingLibre\AppBundle\Behat\SuspensionContext
                - DatingLibre\AppBundle\Behat\CcBillContext
                - Behat\MinkExtension\Context\MinkContext

    extensions:
        FriendsOfBehat\SymfonyExtension: ~
        Behat\MinkExtension:
            base_url: "http://localhost:8000/"
            files_path: "%paths.base%/features/media"
            default_session: symfony
            javascript_session: selenium2
            browser_name: chrome
            sessions:
                symfony:
                    symfony: ~
                selenium2:
                    selenium2:
                        wd_host: "http://127.0.0.1:4444/wd/hub"


